.gutter {
    background-color: var(--gutter-bg);
    background-repeat: no-repeat;
    background-position: 100%;
}

.gutter:hover {
    background-color: var(--gutter-bg-hover);
    background-repeat: no-repeat;
    background-position: 100%;
}