.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 100%;
}

.gutter:hover {
    background-color: #0892c4;
    background-repeat: no-repeat;
    background-position: 100%;
}