 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 5px rgba(3, 105, 161, .2);
     border-radius: 0;
     background: #0369a11a;
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(3, 105, 161, .2);
     background: #0284c7;
 }

 ::-webkit-scrollbar {
     width: 4px;
 }