html,
body {
  height: 100%;
  width: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--bg);
  color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--border);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.layout
{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    background-color: var(--main-bg);
}

.left {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-width: 160px;
    background-color: var(--left-bg);
}

.right {
    min-width: 160px;
    width: 240px;
    background-color: var(--right-bg);
    overflow: auto;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid var(--border);
  background-color: var(--footer-bg);
  padding: 0 10px;
  overflow: hidden;
}

